/* Basic */
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  display: grid;
  place-items: center;
  grid-row-gap: 5rem;
  min-height: 100vh;
  padding: 5rem;
}

/* Typography */
.paragraph {
  font-size: 3rem;
}

/* Main */
.slider-container {
  position: relative;
  max-width: 124rem;
  width: 100%;
  height: 70rem;

  /* IN THE END */
  overflow: hidden;
}

.testimonial-slide {
  position: absolute;
  top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.testimonial {
  padding-left: 2rem;
}

.testimonial--author {
  display: block;
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 700;
}

.testimonial--author span {
  font-weight: 500;
  font-size: 1.7rem;
  color: hsl(240, 18%, 77%);
}

.testimonial__img-box {
  width: 50rem;
}

.testimonial--quote,
.testimonial__img,
.testimonial--bg,
.testimonial--bg-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial__img {
  display: block;
  margin-left: -5rem;
  position: relative;
  z-index: -1;
  border-radius: 1rem;
  box-shadow: 0 1rem 5rem hsl(240, 18%, 77%);
}

.testimonial__quote-box,
.testimonial__bg-box,
.testimonial__bg-box-2 {
  position: absolute;
}

.testimonial__quote-box {
  top: 14rem;
  left: 10rem;
}

.testimonial__bg-box {
  width: 65rem;
  left: 0;
  bottom: 0;
  z-index: -5;
}

.testimonial__bg-box-2 {
  width: 65rem;
  right: 4rem;
  bottom: 4em;
  z-index: -10;
}

.testimonial__button-box {
  background-color: #fff;
  border-radius: 3rem;
  padding: 2rem 3.5rem;
  position: absolute;
  right: 30%;
  bottom: 7rem;
}

.testimonial--btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.testimonial--btn:focus {
  outline: none;
}

.testimonial--btn-prev,
.testimonial--btn-next {
  width: 1.7rem;
  height: 1.7rem;
}

.testimonial--btn:nth-of-type(1) {
  margin-right: 3.5rem;
}

/* Footer*/
.attribution {
  font-size: 1.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  transition: color 0.2s;
}

.attribution a:hover {
  color: hsl(240, 18%, 77%);
}

/* Dots */
.dots-container {
  position: absolute;
  bottom: 1rem;
  left: 45%;
}

.dots__dot {
  width: 1.7rem;
  height: 1.7rem;
  border: none;
  border-radius: 50%;
  background-color: hsl(240, 18%, 77%);
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.dots__dot:nth-of-type(1) {
  margin-right: 1rem;
}

.dots__dot:focus {
  outline: none;
}

.dots__dot--active {
  background-color: hsl(228, 45%, 44%);
  opacity: 1;
}

/* Screen reader only */
.scr-only {
  position: absolute;
  left: -100000px;
  width: 1px;
  height: 1px;
}

/* Media queries */
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
  .testimonial__quote-box {
    top: 13rem;
  }
}

@media only screen and (max-width: 49em) {
  .paragraph {
    font-size: 2.2rem;
  }

  .testimonial__img-box {
    width: 40rem;
  }

  .testimonial__quote-box {
    top: 17rem;
    width: 5rem;
  }

  .testimonial__bg-box {
    width: 55rem;
    bottom: 5rem;
  }

  .testimonial__bg-box-2 {
    width: 53rem;
    right: 1rem;
    bottom: 15rem;
  }

  .testimonial__button-box {
    right: 30%;
    bottom: 17rem;
  }

  .testimonial--author {
    margin-top: 1.8rem;
    font-size: 1.7rem;
  }

  .testimonial--author span {
    display: block;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 40em) {
  .paragraph {
    font-size: 2rem;
  }

  .testimonial {
    text-align: center;
  }

  .testimonial-slide {
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;
    justify-items: center;
    top: 3rem;
  }

  .testimonial__img-box {
    grid-row: 1 / 2;
    width: 35rem;
  }

  .testimonial__img {
    margin-left: 0;
  }

  .testimonial__quote-box {
    top: 41rem;
  }

  .testimonial__bg-box {
    width: 55rem;
    bottom: 0rem;
  }

  .testimonial__bg-box-2 {
    width: 43rem;
    right: 15%;
    bottom: 29rem;
  }

  .testimonial__button-box {
    right: 40%;
    bottom: 30rem;
    padding: 1.5rem 3rem;
  }
}

@media only screen and (max-width: 29em) {
  .testimonial-slide {
    grid-row-gap: 4rem;
  }

  .testimonial__img-box {
    width: 30rem;
  }

  .testimonial__quote-box {
    top: 35rem;
    left: 10rem;
  }

  .testimonial__bg-box {
    width: 50rem;
  }

  .testimonial__bg-box-2 {
    width: 38rem;
    right: 5%;
    bottom: 34rem;
  }

  .testimonial__button-box {
    right: 35%;
    bottom: 35rem;
    padding: 1.5rem 3rem;
  }
}
